/*------------------------------------*\
    #LINKS
\*------------------------------------*/

$link-color:            #0000ee !default;
$link-color-hover:      $link-color !default;
$link-decoration:       none !default;
$link-decoration-hover: underline !default;





a {
    color: $link-color;
    text-decoration: $link-decoration;
}

a:hover,
a:focus,
a:active {
    color: $link-color-hover;
    text-decoration: $link-decoration-hover;
}
